* {
   margin: 0;
   padding: 0;
}


body {
    overflow-x: hidden;
    background-color: #1e293b;
    min-height: 3000px;
    
}

html{
    scroll-behavior: smooth;
}

    
 h2{
    padding: 15px;
   font-family: "Federant", serif;
    text-align: center;
 }

 h3{
    padding: 3px;
    font-family: "Federant", serif;
    text-align: center;
 }

 .container-home{
padding: 5rem;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 0;
height: auto;
color: white;
 }

 

 /*section*/
 #home {
    font-size: 25px;
    display: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 80px 1rem 50px 1rem;
    
 }

 #home {
    min-height: 100vh;
    background-image: url("../image/bghome.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: "Jersey 10", sans-serif;
  
}

    

 #About {
   font-size: 18px;
   display: block;
 background-color: #1e293b;
    color: #e5e7eb;
 }
#About p {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.05rem;
    line-height: 1,8;
    
}
  
 #About img{
   display: block;
   width: 200px;
   height: 200px;
   object-fit: cover;
   border-radius: 10%;
   margin: 20px auto;
   border: 3px solid;
 }

 #contact {
 background-color: #020617;
color:white;
margin:0;
 } 



.contact-form {
   max-width: 500px;
   margin: auto;
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.contact-form input,
.contact-form textarea {
   padding: 12px;
   font-size: 16px;
   border-radius: 6px;
   border: 1px solid #ccc;
   font-family: inherit;
}

.contact-form input:focus,
.contact-form textarea:focus {
   outline: none;
   border-color: cornflowerblue;
}

.contact-form button {
   padding: 12px;
   background-color: black;
   color: white;
   font-size: 16px;
   border: none;
   border-radius: 6px;
   cursor: pointer;

}

.contact-form button:hover {
   background-color: black;
}
 
#project {
  background-color: #1e293b;
  color: white;
  text-align: center;
}
.containertiga {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
}
.project1 {
  background-color: #020617;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.containertiga h2 {
  grid-column: 1 / -1;
  margin-bottom: 40px;
}

.project1:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(56, 189, 248, 0.4);
}

.project1 img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  display: block;
}

.project1 p {
  padding: 15px;
  font-size: 0.95rem;
  color: #cbd5f5;
}


 

.container-dua {
    max-width: 900px;
    margin: 0 auto;
}

#hobi {
 background-color: #020617;
 color: white;
}

#hobi .fotohobi {
    padding: 15px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

#hobi .listhobi {
    width: 200px;
    display: flex;              
    flex-direction: column;     
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

#hobi .listhobi:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(56, 189, 248, 0.4);
}

#hobi .listhobi img {
   width: 100%;
    height: 100%;
    object-fit: cover;      
    object-position: center;
    border-radius: 10px;
}






/*akhir section*/

section{
   
   padding: 120px 0 80px;
}

section p section ul {
   max-width: 800px;
   margin: auto;
   margin-bottom: 1rem;
   font-size: 1rem;
   text-align: center;
}

section p section ul {
   max-width: 800px;
   margin: 0 auto 1rem auto;
   font-size: 1rem;
   text-align: left;
}

/*navbar*/

nav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
    background-color: rgba(2, 6, 23, 0.9);
   padding: 20px 0;
   color: white;
   z-index: 1000;
}

nav .logo {
    font-family: "Jersey 10", sans-serif;
   letter-spacing: 3px;  
    color: #e5e7eb;
}

nav ul {
   display: flex;
   list-style: none;
   width: 40%;
   justify-content: space-between;
   font-family: "Science Gothic", sans-serif;
}


nav ul li a {
    color: #9ca3af;
    font-weight: 500;
    transition: color 0.3s ease;
    text-decoration: none;
}

nav ul li a:hover {
    color: #38bdf8;
}

/* hamburger menu */
.menu-toggle {
   position: fixed;       
    top: 20px;             
    right: 20px;           
    z-index: 10000;       
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;

}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #F9FAFB;
    border-radius: 3px;
    transition: all 0.5s;

}

/* hamburger menu animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}


.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}



.menu-toggle input:checked ~ span:nth-child(2) {
     background-color:  #38bdf8 ;
    transform: rotate(45deg) translate(-1px,-1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color:  #38bdf8;
    transform: rotate(-45deg)translate(-1px,0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}


/* responsive */

/* ukuran tablet */

@media screen and (max-width:768px) {
    nav ul {
        width: 50%;
    }
}

/* ukuran mobile */

@media screen and (max-width:576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: fixed;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgba(17, 24, 39, 0.6);
        z-index: 9999;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;

    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}

footer {
   background-color: #111827;
  color: #f9fafb;
  padding: 5px 0;        
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 0.8rem;
  margin: 0;
}
.footer-container {
  max-width: 1100px;
  margin: 0 auto;
}

.footer-name {
  font-weight: 500;
  margin-bottom: 4px;     
}
footer a {
  color: white;
  text-decoration: none;
  transition: 0.1s;
}
footer a:hover {
  color:#38bdf8;
}